.hero {
    height: 400px;
    background: midnightblue;
    background-image: url("images/tavern01.jpg");
    background-position: center;
    background-size: cover;
}

body{
    background-image: url("images/wood_background.jpg");
    background-size: cover;
}

h5 {
    font-family: "Lugrasimo";
}

.card-body {
    background-image: url("images/parchment-background.jpg");
}

.card-footer {
    background-color: rgb(48, 17, 17);
    color: gold;
}


.sub-hero {
    height: 300px;
    background: midnightblue;
    background-image: url("images/dragon_slaying02.jpg");
    background-position: center;
    background-size: cover;
}

.card-header {
    background-color: rgb(48, 17, 17);
    color: gold;
}

body.Registration{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 211, 248);

}

/* Dashboard Page */

.dashboard .sub-hero {
    background-image: url("images/dashboard01.jpg");
}

.dashboard-bg {
    border-radius: 25px;
    min-height: 500px;
    width: 90%;
    background-image: url("images/parchment-background.jpg");
}

.dashboard-content {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}